/* CSS */

* { margin: 0;}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
background-color: #E9967A;
padding-top: 20px;
padding-left: 20px;
}

body {
	margin: 0;
	padding: 0;
	background: #94E3F4;
	color: SeaGreen;
	text-align: left;
	padding-top: 0px;
	padding-left: 0px;
	font-family: 'Special Elite';
	font-size: 1.25em;

}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	/*color: ;*/
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }

a {
	text-decoration: none;
	/*color: ;*/
}

nav ul li a:hover {
	/*color: ;*/
	text-decoration: underline;
	color: #A523FF;
}

/* HEADER */
header {
	margin-left: 0px;
	margin-top: 40px;
}

header h1 { 
	color: #000; 
}

header h5 { padding-top: 0px;}

/* NAV */
nav {
	width: 100%;
	height: 36px;
	/*background: ;*/
}

nav ul {
	list-style: none;
	line-height: normal;
	padding-left: 5px;
	padding-top: 20px;
}

nav li a {
	float: left;
	/*color: ;*/
	padding: 10px 15px 0px 15px;
}

/* CONTENT */
#content { margin: 10px; }

/* FOOTER */
footer {
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	/*background: ;*/
	font-size: 90%;
}

/* TABLE */
table {
	width: 90%;
	margin-left: 50px;
	margin-top: 30px;
	padding: 15px;
	cellspacing: 10px;
	border-collapse:collapse;
}

thead {
	/*background: ;*/
	/*color: ;*/
	vertical-align: center;
	height: 80px;
	border: solid 1.5px;
}

table .title { 
	width: 200px; 
	vertical-align: top;
	/*color: ; */
}

table .year { 
	width: 80px; 
	vertical-align: top; 
	text-align: center;
}

tr { border-bottom: solid 1.5px; }
th { padding: 5px; font-weight: bolder;}
td { padding: 10px; }

#posts-section {
	margin: 10px;
	margin-left:150px;
}

#posts {
	width:80%;
	padding:10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	background-color:#E9967A;
	color:black;
	transition: 0.5s;
}

#posts:hover{
	background-color: #FFFAFA;
	color:#DC143C;
	transition: 0.5s;
}

#rate-bar {
	width:80%;
	height: 35px;
	color:white;
	padding: 10px;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: black;
	opacity: 0.75;
	text-align: center;
}

#upvote {
	color:#FFFFFF;
	transition: 0.5s;
}

#upvote:hover {
	color:#000;
	transition: 0.5s;
}

#downvote {
	color:#FFFFFF;
	transition: 0.5s;
}

#downvote:hover {
	color:#000;
	transition: 0.5s;
}

#masthead {
	width:100%;
	padding: 25px;
	background-color:#E9967A;
}

#submitbody {
	margin-left: 70px;
	margin-top: 35px;
}

#bestbestbody {
	margin-left: 70px;
	margin-top: 35px;
}

#worstworstbody {
	margin-left: 70px;
	margin-top: 35px;
}

#submitbox{
	margin-left: 20px;
	margin-top: 20px;
}

#everythingOnOneLine{
	display: inline-block;
}

#submitbutton{
	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: SeaGreen;
	font-weight: bold;
	text-shadow: 1px 1px #57D6C7;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

/* CLOUD ANIMATION */

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-ms-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
@-moz-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}
#wrap {
    height:200%;
    width:100%;
    background: url(http://addtwitter-followers.com/wp-content/themes/twentyten/images/bck.jpg) top no-repeat #94E3F4;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 150s linear infinite;
    -ms-animation: animatedBackground 150s linear infinite;
    -moz-animation: animatedBackground 150s linear infinite;
    -webkit-animation: animatedBackground 150s linear infinite;
}