/* CSS */

body {
	margin: 0;
	padding: 0;
	background: #FFD2BF;
	color: SeaGreen;
	text-align: left;
	padding-top: 0px;
	padding-left: 0px;
	font-family: 'Special Elite';
	font-size: 1.25em;

}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	/*color: ;*/
}

h1 { font-size: 2em; }
h2 { font-size: 1.4em; }

a {
	text-decoration: none;
	/*color: ;*/
}

nav ul li a:hover {
	/*color: ;*/
	text-decoration: underline;
}

/* HEADER */
header {
	margin-left: 0px;
	margin-top: 0px;
}

header h1 { color: #000; }

header h5 { padding-top: 0px;}

/* NAV */
nav {
	width: 100%;
	height: 36px;
	/*background: ;*/
}

nav ul {
	list-style: none;
	line-height: normal;
	padding-left: 5px;
}

nav li a {
	float: left;
	/*color: ;*/
	padding: 10px 15px 0px 15px;
}

/* CONTENT */
#content { margin: 10px; }

/* FOOTER */
footer {
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	/*background: ;*/
	font-size: 90%;
}

/* TABLE */
table {
	width: 90%;
	margin-left: 50px;
	margin-top: 30px;
	padding: 15px;
	cellspacing: 10px;
	border-collapse:collapse;
}

thead {
	/*background: ;*/
	/*color: ;*/
	vertical-align: center;
	height: 80px;
	border: solid 1.5px;
}

table .title { 
	width: 200px; 
	vertical-align: top;
	/*color: ; */
}

table .year { 
	width: 80px; 
	vertical-align: top; 
	text-align: center;
}

tr { border-bottom: solid 1.5px; }
th { padding: 5px; font-weight: bolder;}
td { padding: 10px; }

#posts-section {
	margin: 10px;
	margin-left:150px;
}

#posts {
	width:80%;
	padding:10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 25px;
	background-color:#E9967A;
	transition: 0.5s;
}

#posts:hover{
	background-color: #FFFAFA;
	color:#DC143C;
	transition: 0.5s;
}

#rate-bar {
	width:80%;
	height: 35px;
	color:white;
	padding: 10px;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: black;
	text-align: center;
}

#upvote {
	transition: 0.5s;
}

#upvote:hover {
	color:#00FF00;
	transition: 0.5s;
}

#downvote {
	transition: 0.5s;
}

#downvote:hover {
	color:#FF0000;
	transition: 0.5s;
}

#masthead {
	width:100%;
	padding: 25px;
	background-color:#E9967A;
}

#submitbox{
	margin-left: 20px;
	margin-top: 20px;
}