<!DOCTYPE>
<html>
	<head>
		<title>FAQ | JudgeMeHarder</title>
	<meta name="author(s)" content="Eileen Jiang, Tina Luo, Rohan Varma, Ian Qu-Wah" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

	<body id = "faq">
		<header>
			<div id = "masthead">
  			<h1>JudgeMeHarder <h5>a website for decisions and confessions</h5></h1>
      		<nav>
      		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="submit.html">Submit</a></li>
        		<li><a href="faq.html">FAQ</a></li>
        		<li><a href="mostpopular.html">Most Popular</a></li>
      		</ul>
    		</nav>
    		</div>
		</header>

		<div id = "questions">
			<table>
				<thead>
					<th>Question</th>
					<th>Answer</th>
				</thead>

				<tr>
					<td>Who are you guys?</td>
					<td>The awesome bombs.</td>
				</tr>
			</table>
		</div>
	</body>
</html>