<!DOCTYPE>
<html>
	<head>
		<title>Submissions | JudgeMeHarder</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" charset="utf-8">
	</head>

	<body id = "submit">
		<header>
			<h1>Confess a Decision</h1>
		</header>

		<div id = "confession">
			<form>
				<input id="textbox" type="text" />
			</form>
			<script> 
				var decision = document.getElementbyId("textbox").value;
			</script>
		</div>
	</body>

</html>