<!DOCTYPE>
<html>
	<head>
		<title>Submissions | JudgeMeHarder</title>
	<meta name="author(s)" content="Eileen Jiang, Tina Luo, Rohan Varma, Ian Qu-Wah" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	</head>

	<body id = "home">
		<header>
      <div id = "masthead">
        <div style="clear: both">
            <h1 style="float: left; padding-right:20px;"> JudgeMeHarder</h1>
            <h5 style="padding-top: 10px; padding-left:30px;">a website for decisions and confessions</h5>
      			<!--h1>JudgeMeHarder <h5>a website for decisions and confessions</h5></h1-->
        <nav>
          <ul style ="float:up">
            <li><a href="base.html">Home</a></li>
            <li><a href="submit.html">Submit</a></li>
            <li><a href="faq.html">About Us</a></li>
            <li><a href="bestbest.html">Best of the Best</a></li>
            <li><a href="worstworst.html">Worst of the Worst</a></li>
          </ul>
        </nav>
        </div>
      </div>
		</header>

		<div id="submitbody">
		<h2>Submit a Confession or Decision</h2>

		  <div class = "post_creator" id="submitbox">
			 <form method = post action = "/newpost">
				Name: <input type= "text" name = "name" min="0" autocomplete="off"/> <br><br>
				Post: <input type= "text" name = "text" style="height: 100px; width: 300px;" min="0" autocomplete="off"/>
        <br><br>
				<input type = submit value = "add post" style="margin-left: 60px;"/>
			 </form>
		  </div>
    </div>
	</body>

</html>